html {
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    /* border: 5px solid black; */
    padding: 5px;
    color: #3685c5;
    text-shadow: 2px 1px 1px black;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    line-height: 2;
}

h4 {
    line-height: 0.5px;
    letter-spacing: 0.2px;
}

p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.2px;
}

.mainText {
    width: 1000px;
    margin: auto;
    padding: 0 20px 20px 20px;
    background-color: white;
}

.image {
    scale: 0.6;
    border: 5px solid;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    display: block;

}

.header1Underline {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}

.navigation {
    width: 100%;
    background-color: #3685c5;
    overflow: hidden;
    display: grid;
    list-style: none;
}

.navigation .logo {
    float: left;
}

.navigation ul {
    list-style-type: none;
    padding: 0px 15px 0px 15px;
}

.navigation li {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
}

.navigation a {
    float: right;
    color: white;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
}


.navigation a:hover {
    background-color: #ddd;
    color: #000000;
}

.navigation a:active {
    background-color: #3685c5;
    color: #ddd;
}

.navigation img {
    width: auto;
    height: 81px;
    text-align: center;
    border: 2px solid #000000;
}
